@import 'colors';

#form {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
  input {
    outline: none;
  }

  textarea {
    resize: none;
    outline: none;
    min-height: 50px;
  }

  button {
    width: 35%;
    margin-left: auto;
  }
}